{{#each this}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.quantity}}</td>
    <td>{{this.price}}</td>
    <td>{{this.image}}</td>
    <td>
        <a href="#" class="btn"> Sửa </a>
        <a href="#" class="btn" style="background-color:red;">Xoá</a>
    </td>
</tr>
{{/each}}